<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="OfficeAssist.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="OfficeAssist.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<publisherPolicy apply="yes"/>
			<probing privatePath="PIA2010;VSTO40"/>
		</assemblyBinding>
		<enforceFIPSPolicy enabled="false"/>
	</runtime>
	<connectionStrings>
		<add name="WordAddIn1.Properties.Settings.Database1ConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Database1.accdb" providerName="System.Data.OleDb"/>
		<add name="OfficeAssist.Properties.Settings.localdbConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\localdb.accdb" providerName="System.Data.OleDb"/>
	</connectionStrings>
	<startup/>
	<userSettings>
		<OfficeAssist.Properties.Settings>
			<setting name="bALn" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="strLnNm" serializeAs="String">
				<value/>
			</setting>
			<setting name="strLnws" serializeAs="String">
				<value/>
			</setting>
			<setting name="bUpdTblCntOnSaving" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="bUpdTblCntOnClosing" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="strFavDir" serializeAs="String">
				<value>c:\</value>
			</setting>
			<setting name="bAutoUpdate" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="strRegAcnt" serializeAs="String">
				<value/>
			</setting>
			<setting name="strRegActSn" serializeAs="String">
				<value/>
			</setting>
			<setting name="bGenLocalVer" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="strVerName" serializeAs="String">
				<value>试用版</value>
			</setting>
			<setting name="bUIShow" serializeAs="String">
				<value>True</value>
			</setting>
		</OfficeAssist.Properties.Settings>
	</userSettings>
	<applicationSettings>
		<OfficeAssist.Properties.Settings>
			<setting name="docSword_WebService_WordAddinService" serializeAs="String">
				<value>http://10.115.246.179:30001/WordAddinService.asmx</value>
			</setting>
		</OfficeAssist.Properties.Settings>
	</applicationSettings>
</configuration>
